<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="11" value="pp"/>
	</appSettings>
	<test pp="ss" cc="true">
		<abc value="123">
			<a a0="1"/>
			<b b0="2"/>
			<c c0="3"/>
		</abc>
		<abc value="456">
			<a a0="4"/>
			<b b0="5"/>
			<c c0="6"/>
		</abc>
	</test>
</configuration>